flask
python-dotenv
line-bot-sdk
openai
google-api-python-client
google-auth
google-auth-httplib2
SPREADSHEET_ID1=14tFyTz_xYqHYwegGLU2g4Ez4kc37hBgSmR2G85DLMWE
SPREADSHEET_ID2=1kO7-r-D-iZzYzv9LEZ9J4FzVAaZ13WKJWT_-97F6vbM
SPREADSHEET_ID3=1hrpgJ0JV4lSKIOl9_MPd-rDMsG_usMgQQO0z8pjBBuY
SPREADSHEET_ID4=1LtX-xONG-ztnxOIQZZit91yRp4n40wGDnb87ukiZ3Bg
