flask==2.3.3
python-dotenv==1.0.1
line-bot-sdk
openai==1.30.1
google-api-python-client==2.120.0
google-auth==2.29.0
urllib3==2.0.7
pytz==2024.1
scikit-learn==1.4.2
feedparser==6.0.11
beautifulsoup4==4.12.3
